includes:
    - ./vendor/larastan/larastan/extension.neon

parameters:
    level: 7
    paths:
        - app/
        - config/
        - database/
        - routes/
    tmpDir: storage/framework/cache/phpstan
    checkOctaneCompatibility: true
    checkModelProperties: true
    reportUnmatchedIgnoredErrors: false
    parallel:
        maximumNumberOfProcesses: 4
        processTimeout: 300.0
    excludePaths:
        - tests/*
        - storage/
        - bootstrap/cache/
        - database/migrations/2025_09_14_065423_create_permission_tables.php
    ignoreErrors:
        - '#Template type TDeclaringModel on class.*is not covariant#'
        - '#Template type TValue on class.*Collection.*is not covariant.*Learn more at https://phpstan.org/blog/whats-up-with-template-covariant#'
