parameters:
    level: 5
    paths:
        - app
        - config
        - database
        - routes
    reportUnmatchedIgnoredErrors: true
    parallel:
        processTimeout: 300.0
    ignoreErrors: []
    checkImplicitMixed: true
    checkUninitializedProperties: true
    checkDynamicProperties: true
    checkMissingCallableSignature: true
    checkMissingVarTagTypehint: true
    checkInternalClassCaseSensitivity: true
    checkClassCaseSensitivity: true
    checkFunctionNameCase: true
