parameters:
    level: 5
    paths:
        - app
        - config
        - database
        - routes
    reportUnmatchedIgnoredErrors: false
    parallel:
        processTimeout: 300.0
    ignoreErrors:
        - '#Method .* has no return type specified#'
        - '#Property .* has no type specified#'
        - '#Parameter .* has no type specified#'
        - '#Cannot access offset .* on .*#'
        - '#Call to an undefined method#'
        - '#Access to an undefined property#'
    checkImplicitMixed: false
    checkUninitializedProperties: false
    checkDynamicProperties: false
    checkMissingCallableSignature: false
    checkMissingVarTagTypehint: false
    checkInternalClassCaseSensitivity: false
    checkClassCaseSensitivity: false
    checkFunctionNameCase: false