includes:
    - /tmp/sandbox_fix_1756601522/vendor/nunomaduro/larastan/extension.neon
parameters:
    paths:
        - app
        - routes
    level: 5
    bootstrapFiles:
        - /tmp/sandbox_fix_1756601522/bootstrap/app.php

