includes:
    - ./vendor/larastan/larastan/extension.neon

parameters:
    paths:
        - app
        - config
        - database
        - routes
        - tests

    excludePaths:
        - bootstrap/cache
        - storage
        - vendor

    level: 9

    reportUnmatchedIgnoredErrors: true

    tmpDir: storage/framework/phpstan

    treatPhpDocTypesAsCertain: false
